.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  z-index: 1;
  overflow: hidden;
  animation: day-and-night 56s linear infinite;
}

#foglayer_01,
#foglayer_02,
#foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}

#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}

#foglayer_01 {
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 25s linear infinite;
}

#foglayer_02,
#foglayer_03 {
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 23s linear infinite;
}

#foglayer_01 .image01,
#foglayer_01 .image02 {
  background: url("../../resources/fog1.png") center center/cover repeat transparent;
}

#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  background: url("../../resources/fog2.png") center center/cover repeat transparent;
}

@keyframes foglayer_01_opacity {
  0% {
    opacity: .2;
  }

  22% {
    opacity: 1;
  }

  40% {
    opacity: .56;
  }

  58% {
    opacity: .8;
  }

  80% {
    opacity: .32;
  }

  100% {
    opacity: .2;
  }
}

@keyframes foglayer_02_opacity {
  0% {
    opacity: 1;
  }

  25% {
    opacity: .4;
  }

  50% {
    opacity: .2;
  }

  80% {
    opacity: .6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes foglayer_03_opacity {
  0% {
    opacity: 1.6;
  }

  27% {
    opacity: .4;
  }

  52% {
    opacity: 1.2;
  }

  68% {
    opacity: .6;
  }

  100% {
    opacity: 1.6;
  }
}

@keyframes foglayer_moveme {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {

  #foglayer_01 .image01,
  #foglayer_01 .image02,
  #foglayer_02 .image01,
  #foglayer_02 .image02,
  #foglayer_03 .image01,
  #foglayer_03 .image02 {
    width: 100%;
  }
}