
.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.5px solid var(--border);
}
.navbar > a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--navLinkText);
    font-weight: 600;
    padding: 20px 0;
    width: 33.33%;
    text-decoration: none;
}
.navbar > a:hover{
    color: white;
    background: var(--hoverNavLinks);
}
.navbar > a > svg{
    margin: 0 5px;
}