:root {
--hoverNavLinks: lightblue;
--navLinkText: rgb(41, 122, 175);

--border: lightblue;
--transparentBlack: rgba(0, 0, 0, 0.705);
--white: white;
--blackText: black;
--rotX: 0deg;
--skewY: 0deg;
--scale:1;

--awards: gold;
}

body {
  margin: 0;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{text-decoration: none;}
pre{
  font-family: 'Cinzel', serif;
  margin:0;
  border: 0; background-color: transparent;
}



@import './components/Home/Home.css';

@import './components/Projects/projects.css';
@import './components/Projects/Filter/filter.css';
@import './components/Projects/Results/results.css';
@import './components/Reusable/testimonial.css';


@import './components/Bio/bio.css';
